/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */

#fileContainer {
    border: 1px solid red;
    /* display: flex;
    justify-content: center;
    align-items: center; */

    /* flex-wrap: wrap; */
}

.file {
    display: inline-block;
    margin: 16px 4px 16px 4px;
    padding: 16px;
    vertical-align: top;

    font-size: 24px;
    width: 128px;
    max-height: 6.5em;
    overflow: hidden;

    cursor: pointer;

    border: 1px dashed black;
}

.file:hover {
    background-color: lightgray;
}


.fileIcon {
    height: 64px;
}

.file span {
    display: block;
    text-align: center;
}

.fileName {
    word-break: break-all;
}

