* {
    user-select: none;
}

/* #region menubar */
@media screen and (max-width: 425px) {
    #menubar {
        align-items: center;
        flex-direction: column;
    }

    #menubar div {
        width: 100%;
    }
    #menubar svg {
        margin-right: 15%;
    }
}

#menubar {
    color: lightgray;
    background-color: #2B2B2B;
    box-shadow: 0 4px;

    font-size: 24px;
    padding: 8px 16px;

    display: flex;
    justify-content: space-between;
}

#menubar div {
    cursor: pointer;

    transition: 0.3s;
}
#menubar div:hover {
    transform: scale(1.1);
    color: #f1f1f1;

}

#menubar div#pathContainer:hover {
    transform: revert;
    color: revert;
    cursor: default;

}
/* #endregion */

/* #region Files */
#fileContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.file {
    margin: 16px 4px 16px 4px;
    padding: 16px;

    font-size: 24px;
    width: 128px;
    height: 6.5em;
    overflow: hidden;

    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    transition: 0.3s;
}

.file:hover, .file-menu div:hover, .create-folder:hover {
    background-color: lightgray;
}


.file span {
    display: block;
    text-align: center;
}

.fileIcon {
    height: 64px;
}

.fileName {
    word-break: break-all;
}

.file-menu div {
    font-size: 16px;
    cursor: pointer;
}

/* #endregion */

/* #region Modal */
.popup-content[role="dialog"] {
    background-color: #2B2B2B;
    border-color: #2B2B2B;
}

.modal-content {
    color: white;
    background-color: #2B2B2B;
    padding: 8px;
}

.modal-content select {
    color: black;
}

.label-container input {
    width: 100%;
}


.popup-content input, .popup-content button {
    background-color: #474747;
    
    border: 1px solid black;
    border-radius: 2px;
}

.popup-content button[type="submit"] {
    margin-top: 16px;
}

/* sharelink fix for ShareFile.js */
.sharelink-modal-content input {
    background-color: revert;
    border: revert;
    border-radius: revert;
}

/* #endregion */

/* #region Tags */

.tag-list {
    /* border: 1px dashed red; */
    padding: 0;
}

.tag-list li {
    display: inline;
}

.tag-list a {
    /* border: 1px dashed black; */
    display: inline-block;
    text-decoration: none;

    color: #67c1f5;
    background-color: rgba( 103, 193, 245, 0.2 );
    border-radius: 4px;

    max-width: 128px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    

    padding: 0 8px;
    margin: 0 4px 4px 0;

    vertical-align: top;
}

.tag-list a:hover {
    text-decoration: none;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    background-image: linear-gradient(135deg, rgb(103, 193, 245) 0%, rgb(65, 122, 155) 100%);
}

/* #endregion */

.copy-to-clipboard {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}


/* #region Context-menu */
.fileexplorer-context-menu {
    margin: auto;
    background: rgb(255, 255, 255);
    padding: 5px;
    
    border: 1px solid #d7d7d7;

    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
    border-radius: 5px;
}

.create-folder {
    padding-right: 20px;
    cursor: pointer;
}

/* #endregion */
